@contentPadding: 0.25em;

.GLView {
  .scrollArea {
    position: absolute;
    top: @contentPadding;
    left: @contentPadding;
    right: @contentPadding;
    bottom: @contentPadding;
    overflow: auto;
  }
}
